.page-layout {
  height: 100vh;
  width: 100vw;
  grid-template-areas: 
  "cart birds birds"
  "check birds birds";
  display: grid;
}

.cart, .checkout {
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.cart, .checkout, .birds {
  width: 100%;
  height: 100%;
}

.cart {
  grid-area: cart;
}

.checkout {
  grid-area: check;
  margin-top: 110px;
}

.checkout form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.birds {
  grid-area: birds;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.birds li {
  width: 200px;
  height: 350px;
  background-color: aquamarine;
  display: flex;
  grid-template-columns: (2, 2fr);
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  align-items: center;
  box-shadow: 3px 5px 5px lightgray;
}

.birds img {
  width: 150px;
}

.birds button {
  margin-top: 20px;
}